body {
  font-family: Roboto, sans-serif;
  padding: 5px 50px;
}

a {
  color: green;
}

a:hover {
  color: rgb(0, 78, 0);
}

#about {
  background-color: #eee;
  padding: 10px 20px;
}

.header-image {
  float: left;
  margin-top: 0.5em;
  margin-right: 10px;
}

.header-image img {
  border-radius: 3px;
}

.flex-container {
  display:flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}


.flex-item-default {
  min-width: 300px;
  min-height: 250px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;

  margin-right: 15px;
  margin-top: 15px;

  background-color: #eee;
}

.project {
  position: relative;
  background-position: center;

  color: #fff;
  cursor: pointer;

  padding: 5px 25px;
}

.project .title {
  position: absolute;
  top: 0;
  left: 0;
  width: 326px;
  padding: 12px;

  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.project .desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 326px;
  padding: 12px;

  background-color: rgba(0, 0, 0, 0.7);
}
